@font-face {
    font-family: 'Ubuntu Mono Bold';
    src: url('lib/UbuntuMono-B.ttf');
}
body {
    font-family: sans-serif;
    margin: 2em;
}
h1, h2 {
    font-family: 'Ubuntu Mono Bold', monospace;
    font-size: 24pt;
    line-height: 24pt;
}
h1 {
    text-transform: uppercase;
    border-top: 3px solid black;
}
a {
    color: #0F0;
    text-decoration: none;
}
a:hover {
    color: #0F0;
    text-decoration: underline;
}